// Contact section styling
.contact {
    grid-column: 1 / -1;
    background-color: $color-black;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;


    //Contact header
    &__header {
        font-family: 'Lobster', cursive;
        font-size: 3rem;
        color: $color-red-dark;
        margin-top: 5rem;


    }

    //Contact container
    &__container {
        color: $color-yellow-dark;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 5rem;

    }

    //Overall form styling
    &__form {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, 10rem);
        grid-gap: 2rem;

    }

    //Individual form group styling
    &__formgroup {


        //Form group grid positioning
        &--fname {
            grid-column: 3 / 5;

            @media only screen and (max-width: 500px){
                grid-column: 3 / 9;
                grid-row: 1 / 2;
            }

        }

        &--lname {
            grid-column: 5 / 7;

            @media only screen and (max-width: 500px){
                grid-column: 3 / 9;
                grid-row: 2 / 3;
            }
            
        }

        &--email {
            grid-column: 7 / 9;

            @media only screen and (max-width: 500px){
                grid-column: 3 / 9;
                grid-row: 3 / 4;
            }

        }

        &--date {
            grid-column: 3 / 6;
            grid-row: 2 / 3;

            @media only screen and (max-width: 500px){
                grid-column: 3 / 9;
                grid-row: 4 / 5;
            }

        }

        &--branch {
            grid-row: 2 / 3;
            grid-column: 6 / 9;

            @media only screen and (max-width: 500px){
                grid-column: 3 / 9;
                grid-row: 5 / 6;
            }

        }

        &--subject {
            grid-row: 3 / 4;
            grid-column: 3 / 9;

            @media only screen and (max-width: 500px){
                grid-column: 3 / 9;
                grid-row: 6 / 7;
            }

        }

        &--cb-food {
            grid-row: 4 / 5;
            grid-column: 4 / 5;

            @media only screen and (max-width: 500px){
                grid-column: 3 / 4;
                grid-row: 7 / 8;
            }

        }

        &--cb-service {
            grid-row: 4 / 5;
            grid-column: 5 / 6;

            @media only screen and (max-width: 500px){
                grid-column: 4 / 6;
                grid-row: 7 / 8;
            }

        }

        &--cb-drink {
            grid-row: 4 / 5;
            grid-column: 6 / 7;

            @media only screen and (max-width: 500px){
                grid-column: 6 / 8;
                grid-row: 7 / 8;
            }

        }

        &--cb-other {
            grid-row: 4 / 5;
            grid-column: 7 / 8;

            @media only screen and (max-width: 500px){
                grid-column: 8 / 10;
                grid-row: 7 / 8;
            }

        }

        &--message {
            grid-row: 5 / 8;
            grid-column: 3 / 9;
            color: $color-yellow-dark;

            @media only screen and (max-width: 500px){
                grid-column: 3 / 9;
                grid-row: 9 / 16;
            }

        }

        &--submit {
            grid-row: 9 / 10;
            grid-column: 3 / 4;

            @media only screen and (max-width: 500px){
                grid-column: 3 / 9;
                grid-row: 17 / 18;
            }

        }

    }

    //Input styling
    &__input {
        border: .2rem solid $color-yellow-dark;
        background-color: $color-black;
        color: $color-yellow-dark;
        padding: .5rem;

        //Individual input styling
        &--fname {
            width: 100%;

        }

        &--lname {
            width: 100%;

        }

        &--email {
            width: 100%;

        }

        &--date {
            width: 100%;

        }

        &--branch {
            width: 100%;

        }

        &--subject {
            width: 100%;

        }
    }

    &__checkbox {


        &--food {


        }

        &--service {


        }

        &--drink {


        }

        &--other {


        }
    }

    &__text {
        border: .2rem solid $color-yellow-dark;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        color: $color-yellow-dark;

    }

    &__submit {
        border: .2rem solid $color-yellow-dark;
        color: $color-yellow-dark;
        background-color: $color-black;
        padding: 1rem 2rem;

    }

}